<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <title>Bridge</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>

<body>
    
    
    <div class="split left" id="leftWindow">
        
        <img id="logo" class="logo" src="{% static 'images/logo.png' %}">
        <div class="dropdown">
            <button class="sideBtn dropdown__btn">Menu</button>
            <div class="dropdown__menu hide">
                <a href="{% url 'index' %}"><button class="sideBtn">Chat</button></a>
                <a href="{% url 'gallery' %}"><button class="sideBtn">Photos</button></a>
                <button class="sideBtn" onclick="showRight()">Calendar</button>
                <a href="{% url 'plans' %}"><button class="sideBtn">Plans</button></a>
                <button class="sideBtn" onclick="showRight()">Zodiac</button>
            </div>
        </div>
        
    </div>

    <div class="main split right fade" id="rightWindow">
        <div class="left__section">
            <a href="{% url 'gallery' %}"><img id="photo__btn" src="https://drscdn.500px.org/photo/1037770897/m%3D900/v2?sig=1c10315acab43c9975d918ff90b42fc1acd6c3f29a1e15f63c88e6c271a08563" alt="picture"></a>
            <div class="message">
                <span class="vertical__center profile__span" >
                    <img id="message__picture" src="https://drscdn.500px.org/photo/1037770897/m%3D900/v2?sig=1c10315acab43c9975d918ff90b42fc1acd6c3f29a1e15f63c88e6c271a08563" alt="picture">
                </span>
                <h3 id="new__message">I miss you!</h3>
            </div>
        </div>

        <div class="right__section">
            <img id="countdown__btn" src="https://assets.website-files.com/5ed94b01395711aff7968403/6126fdcdcc31ef5c4fceee7d_Screen%20Shot%202021-08-26%20at%202.34.03%20PM.png" alt="picture">
            <a href="{% url 'plans' %}"><img id="todo__btn" src="{% static 'images/planning.png' %}" alt="picture"></a>
        </div>

    </div>


    <script src="{% static 'style/script.js'%}"></script>
</body>
</html>